@{
    Layout = "/Views/Shared/_ProfessorLayout.cshtml";
    ViewData["Title"] = "Professor Dashboard";
}


<div class="container">

  <div class="row" style="margin-top:10%">
        <div class="col-8" style="margin-top:5%;font-family: 'Alkatra' , cursive;">
       <h2>Get Started As Professor To Create Exams</h2>
       <h1 style=" color:orange">OR</h1>
       <h2>As Student To Solve Theses Exams</h2>
    </div>

    <div class="col">
       <img   src="~/Images/mainbackground.jpg" width="130%" height="85%" />
    </div>

   </div>
</div>










