@model DigitalExaminationSys.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<style>
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
</style>

<h1 style="font-family: 'Alkatra', cursive;" class="text-center">Login Now !</h1>



    <div class="container py-5 ">
        <div class="row d-flex align-items-center justify-content-center ">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                 <form asp-controller="Home" asp-action="Login" method="post">
                
                    <!-- Email input -->
                    <div class="form-group form-outline mb-4">
                    <label class="form-label" for="UserName">UserName</label>
                    <input type="text" id="UserName" name="UserName" asp-for="UserName" class="form-control form-control-lg" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-group form-outline mb-4">
                    <label class="form-label" for="Password">Password</label>
                    <input type="password" id="Password" name="Password" asp-for="Password" class="form-control form-control-lg" />
                         <span asp-validation-for="Password" class="text-danger"></span>
                    </div>


                    <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="font-family: 'Alkatra', cursive;">Sign in</button>


                </form>
            </div>
        </div>
    </div>
